<%= erb(:"partials/_info") %>

<a href="/">Home</a>
<br>

<form action="/test_it" method="POST">
  <% if @require_credentials %>
    <%= erb(:"partials/_client_credentials") %>
  <% elsif @require_api_token %>
    <%= erb(:"partials/_api_token") %>
  <% end %>

  <%= erb(:"partials/_message") %>

  <h2>Tests</h2>
  <%= erb(:"partials/_#{session[:version]}_tests") %>
</form>

<% unless @data.nil? %>
  <%= erb(:"partials/_results") %>
<% end %>
